<%- include('includes/head') %> 
<%- include('includes/nav') %> 

    <div class="container">
        <h1 class="agenda-h">Contato</h1>
        <p>Crie ou edite seus contatos abaixo.</p>
        
        <%- include('includes/messages') %> 
        <div class="contato-create">
            <form action="/contato/register" method="POST">
                <input type="hidden" name="_csrf" value= <%= csrfToken %> >
                <div class="fields">
                    <label for="name">Nome</label>
                    <input type="text" name="name">
                </div>
                <div class="fields">
                    <label for="lastname">Sobrenome</label>
                    <input type="text" name="lastname">
                </div>
                <div class="fields">
                    <label for="email">Email</label>
                    <input type="email" name="email">
                </div>
                <div class="fields">
                    <label for="phone">Telefone</label>
                    <input type="tel" name="phone">
                </div>
                <button type="submit">Salvar</button>
            </form>
        </div>
        
    </div>

<%- include('includes/footer') %> 