<%- include('includes/head') %> 
<%- include('includes/nav') %> 

    <div class="container">
        <h1 class="agenda-h">Agenda</h1>
        <p>Seus contatos estão abaixos.</p>
        
        <%- include('includes/messages') %> 
        <% if(contatos.length > 0) { %> 
        <div class="table-contacts">
            <table>
                <% contatos.forEach(contato => { %>
                    <tr>
                        <td class="name"><%= contato.name %> </td>
                        <td class="lastname"><%= contato.lastname %></td>
                        <td class="phone"><%= contato.phone %></td>
                        <td class="email"><%= contato.email %></td>
                        <td class="links-edit"><a href="/contato/<%= contato._id %>" class="edit-link">Editar</a></td>
                        <td class="links-edit"><a href="/contato/delete/<%= contato._id %>" class="delete-link">Deletar</a></td>
                    </tr>
                <% }); %> 
            </table>
        </div>
        <% }else{ %> 
            <p>Não existem contatos para serem exibidos.</p>
        <% } %> 
    </div>

<%- include('includes/footer') %> 